@import "../variables.scss";

.favourites {
    padding-top: 3rem;

    h1 {
        font-weight: 600;
        margin: 0;
        margin-bottom: 1rem;
    }


    .grid {
        display: grid;
        margin-top: 2rem;
        row-gap: 2rem;
    }
}