@import "../variables.scss";

.home {
  padding-top: 3rem;

  .group {
    margin: 2rem 0;

    .options {
      display: flex;
      margin-bottom: 1.5rem;
      justify-content: space-between;

      h3 {
        font-weight: 500;
        font-size: 1.25rem;
        margin: 0;
        line-height: 1;
      }

      a {
        font-size: 0.9rem;
        color: $blue-grey;
      }
    }
  }
}