@import "../variables.scss";

.recipes {
    padding-top: 3rem;

    h1 {
        font-weight: 600;
        margin: 0;
        margin-bottom: 1rem;
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0 3rem 0;

        .option {
            display: flex;
            font-size: 0.9rem;
            align-items: center;
            column-gap: 0.25rem;
            border-radius: 0.25rem;
            background-color: $light-grey;
            padding: 0.5rem;
            cursor: pointer;

            p {
                margin: 0;
            }
        }

        .sort {
            display: flex;
            align-items: center;

            .option {
                min-width: 7rem;
            }

            >p {
                font-size: 0.8rem;
                margin: 0;
                margin-right: 0.25rem;
            }
        }
    }

    .grid {
        display: grid;
        gap: 2rem;
    }

    @media screen and (min-width: 576px) {

        .grid {
            grid-template-columns: repeat(2, 1fr);
        }

    }

    @media screen and (min-width: 991px) {

        .grid {
            grid-template-columns: repeat(3, 1fr)
        }

    }


    @media screen and (min-width: 1200px) {

        .grid {
            grid-template-columns: repeat(4, 1fr)
        }

    }
}