@import "../variables.scss";

.recipes {
    padding-top: 3rem;

    h1 {
        font-weight: 600;
        margin: 0;
        margin-bottom: 1rem;
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0 3rem 0;

        .option {
            display: flex;
            font-size: 0.8rem;
            align-items: center;
            column-gap: 0.25rem;
            border-radius: 0.25rem;
            background-color: $light-grey;
            padding: 0.5rem;
            cursor: pointer;

            p {
                margin: 0;
            }
        }

        .sort {
            display: flex;

            .option {
                min-width: 7rem;
            }

            >p {
                font-size: 0.8rem;
                margin-right: 0.25rem;
            }
        }
    }

    .grid {
        display: grid;
        gap: 2rem;
        // grid-template-columns: 1fr 1fr;
    }
}