@import "../variables.scss";

.settings {
    padding-top: 3rem;

    h1 {
        font-weight: 600;
        margin: 0;
        margin-bottom: 1rem;
    }

    .profile {
        p {
            span {
                font-weight: 500;
            }
        }
    }

    button {
        background-color: $blue;
        font-weight: 500;
        border: none;
        color: $white;
        border-radius: 0.25rem;
        display: block;
        padding: 0.5rem 1rem;
    }

    .accordion {
        padding-top: 2rem;
        border-bottom: 1px solid $blue-grey;


        .heading {
            padding: 1rem 0;

            p {
                margin: 0;
                font-weight: 500;
            }
        }

        .content {
            transition: 0.5s ease;
            overflow: hidden;

            p {
                font-size: 0.9rem;
                margin: 0;
                padding: 1rem 0;
            }

            &.closed {
                height: 0;
            }

            button {
                margin: 1rem 0;
                padding: 0;

                a {
                    padding: 0.5rem 1rem;
                    display: block;

                    i {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}