@import "./variables.scss";


// General
html,
body {
  padding: 0;
  margin: 0;
  font-family: $font;
  background-color: $white;
  color: $blue;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &.no-scroll {
    overflow-y: hidden;
  }
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 100vh;
  padding-bottom: 7rem;
}

input {
  font-family: $font;
}


// Scrollbar
::-webkit-scrollbar {
  width: 6px;

  &-track {
    background: $white;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &-thumb {
    background: $blue;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;

    &:hover {
      background: $yellow;
    }
  }

}


// Container

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}


// Slick

.slick-track {}

.slick-slide {
  height: 100%;

  >div {
    height: 100%;
    padding-bottom: 0.5rem;

  }

}


// 404 Page

.not-found {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  >div {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;

    img {
      width: 4rem;
      margin: 0 0.5rem;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0;
  }
}