@import "../../../styles/variables.scss";

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        margin: 0;
        margin-top: 1rem;
        font-size: 0.9rem;
    }
}